<section class="advantages section">
  <div class="container">
    <h2 class="advantages_title visually-hidden" id="advantages">Advantages</h2>
    <ul class="advantages_list list">
      <li class="advantages_item">
        <p class="advantages_name" data-aos="fade-right">721</p>
        <p class="advantages_text" data-aos="fade-left">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_name" data-aos="fade-right">16kg</p>
        <p class="advantages_text" data-aos="fade-left">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item">
        <p class="advantages_name" data-aos="fade-right">84</p>
        <p class="advantages_text" data-aos="fade-left">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
